h1 {
    display: flex;
    font-size: 2em;
    color: rgb(155, 42, 165);
    text-decoration: solid;
    
}

h2 {
   margin: 5;
   padding: 0 0 0 40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 10px;
}


h3 {
    
    font-size: 1em;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    padding: 0 0 0 100;
}

.name {
    height: 190px;
    margin: 0px;
    background-color: #CCADB2;
    padding-top: 90px;
    
}

.slideshow {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: none;
}

nav {
    
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #57838D;
        padding: 10px;
    
}

nav a {
    display: block;
    padding: .08rem 0;
    color: #eee;
    text-align: center;
}

nav a:visited
nav a:link {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}




nav > ul {
    padding: 0;
    margin: 0;
    display: none;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0 0px 0 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

nav ul.open {
    display: block;
}

nav ul {
    display: none;
}



main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;


}

#page-wrap {
    width: 900px;
    margin: 0 auto;
}

.banner {
    max-width: 100%;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px 0px 15px;
    text-align: center;
    float: center;
    color: rgb(176, 216, 216);
}

.footer-list {
    padding: 20px 0px 0px 200px;
    margin-right: 10;
    text-align: right;
    font-size: smaller;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/*===== Main Grids ====*/

.items {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: auto, auto, auto;
}

.grid-product-1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 10px;
}

.grid-product-3 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
}

.grid-product-4 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.grid-product-5 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
}

.grid-product-6 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 89;
}
.inner-item {
    display: grid;
    grid-column-start: 1;
}
.inner-item-2 {
    display: grid;
    grid-column-start: 2;
}

.inner-item-3 {
    display: grid;
    grid-column-start: 3;
}

/*===== Footer Grids ====*/

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 150px auto 10px;
  grid-auto-rows: 90px;
  grid-gap: 20px;
  padding: 5px;
  
}

.grid-item {
  border: 1px solid rgb(0, 0, 0);
    padding: 0;
    margin: 5;
  
}

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-item-2 {
    
}

.grid-item-3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

ul {
    list-style-type: none;
    margin: 0 0 15;
    padding: 0;

}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.socials {
    height: 20px;
   
}

img {
    width: auto;
    max-height: 100%;
    padding: 3px;
}
/*===== Section Headers ====*/
.section-header {
    margin-bottom: 20px;
}

.section-header--title {
    margin-bottom: 12px;
}

